@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.body-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 16px;
}

#home {
    height: 60vh;
}

/* .main-container 
    height: 80vh;
} */

/* #home {
    background-image: url(images/home-bg.svg);
    background-size: 1200px 760px;    
    background-repeat: no-repeat; 
    background-position: center;
} */

h1, h2, h3, h4, .hero-section, .hero-section p, ul li a {
    font-family: 'Noto Sans', 'Arial', sans-serif;
}

h4 {
    font-size: 18px;
}

p, ul li {
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 18px;
}

h1, h2, h3 {
    margin-bottom: 8px;
}

h3 {
    font-size: 20px;
}

p {
    line-height: 1.5em;
}

ul li a {
    color: #000;
}

img {
    display: block;
    margin-inline: auto;
}

/* Navigation */

nav {
    position: absolute;
    top: 0;
    max-width: 1200px;
    width: 100%; /* 572 is the body margin + padding 2x */
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    height: 54px;
    z-index: 1000;
}

nav ul li a {
    font-size: 16px;
    text-decoration: none;
}

nav ul .nav-left a:hover {
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

.nav-right {
    display: flex;
    gap: 16px;
}

.nav-left {
    display: flex;
    align-items: center;
}

.nav-left a {
    font-size: 20px;
}

/* To the top */

.to-divs, .button-container {
    display: flex;
    justify-content: center;
}

.to-top-button {
    background: #ebebeb;    
    padding: 12px 20px;
    border-radius: 54px;
    transition: 0.3s ease-in-out;
}

.to-top-button:hover {
    background: #d4d4d4;
}

.to-divs a {
    text-decoration: none;
    color: #000;
}

/* Header Section */

.hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.hero-section h1 {
    margin: 16px 0;
    font-size: 48px;
}

/* Projects */

.projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects-container article {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.projects-container article h2 {
    font-size: 28px;
    padding: 8px 0 54px 0;
}

.projects-container article p {
    font-family: 'Noto Sans', 'Arial', sans-serif;
    font-size: 18px;
    color: #888888;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
}

.projects-container article a img {
    border-radius: 16px;
}

.zoom-hover {
    display: inline-block;
    overflow: hidden;
    border-radius: 16px;
}

.courseassist-border {
    border: 4px solid #eeeeee;
  }

.zoom-hover img {
    transition: transform 0.3s ease;
    cursor: pointer;
}

.zoom-hover img:hover {
    transform: scale(1.05);
}

#middle-project {
    margin: 144px 0;
}

/* Footer */

footer {
    background-color: #F9F9F9;
    padding: 48px 0;
    margin-top: 72px;
}

.footer-container {
   max-width: 1200px;
   margin: 0 auto;
}

.footer-container section ul {
    list-style-type: none;
}

.footer-container section ul li a {
    text-decoration: none;
}

.footer-container section ul li a:hover {
    text-decoration: underline;
}

.footer-container section {
    display: flex;
    justify-content: space-between;
}

.footer-container section ul {
    display: flex;
    gap: 16px;
}

.footer-container div {
    margin-top: 12px;
}

/* In projects */

.project-title {
    margin-bottom: 8px;
    font-size: 36px;
}

.banner {
    margin: 54px 0 24px 0;
    border-radius: 16px;
}

.highlight-box {
    background: #f4f4f4;
    padding: 15px 30px;
    margin: 40px 0;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.highlight-box p {
    font-size: 20px;
    display: flex;
    align-items: center;
}

.highlight-box p span {
    margin-left: 8px;
}


.in-projects h2 {
    font-size: 28px;
}



.in-projects-header {
    margin-bottom: 120px;
}

.in-projects-container {
    display: flex;
    flex-direction: row;
    gap: 48px;
    margin-top: 24px;
}

.in-projects {
    margin-top: 120px;
}

.in-projects-container-left {
    width: 100%;
    max-width: 260px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.in-projects-container-right p {
    margin-bottom: 12px;
}

.in-projects main section {
    margin-bottom: 120px;
    display: flex;
    flex-direction: column;
}

/* .in-projects main section div{
    margin-bottom: 32px;
} */

.title-sections {
    font-size: 32px !important;
    margin-bottom: 32px;
}

.in-projects h3 {
    margin: 24px 0 8px 0;
}

/* .process h4 {
    margin: 24px 0 8px 0;
} */

.in-projects img {
    margin-bottom: 32px;
}

.process h2 {
    margin-bottom: 8px;
}

.process img {
    margin: 32px 0;
    /* border: 2px solid #eeeeee; */
    border-radius: 8px;
}

video {
    margin: 32px 0;
}

.view-button {
    font-family: 'Noto Sans', 'Arial', sans-serif;
    color: #fff;
    background: linear-gradient(to right, #6060ff, #9d51ff);    
    padding: 12px 20px;
    text-decoration: none;
    border-radius: 48px;
    transition: background 0.3s;
    background-blend-mode: multiply;
}

.view-button:hover {
    background: linear-gradient(to right, #6060ff, #9d51ff), rgba(0,0,0,0.15);
}


/* User research */

.indent ul {
    margin-top: 12px;
    margin-left: 32px;
}

.indent ul li {
    margin-bottom: 12px;
}
.indent {
    margin: 24px 64px;
    /* margin-left: 64px; */
    border-left: 2px solid;
}

.indent p, .indent-list p, .indent h4 {
    padding-left: 12px;
    margin: 12px 0;
}

.indent-list {
    margin-top: 24px;
    margin-left: 64px;
}

/* Final Design */

.final-design img {
    margin-top: 32px;
}

/* About  */

.hero-about {
    display: flex;  
    justify-content: center;
    align-items: center;
    gap: 120px;
    height: 90vh;
}

.hero-about h1, .hero-about h2 {
    margin-bottom: 12px;
}

.hero-about img {
    border-radius: 16px;
    margin: 0;
}

.hero-about-header-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
}